* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selectedDay {
  background-color: chartreuse;
  border: 1px, solid, aquamarine;
  color: rgb(8, 68, 249);
  
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 столбца */
  grid-gap: 5px; /* Отступы между элементами сетки */
}